<bc-header [menuInteraction]="false">
    <bc-header-left logoName="bancolombia-horizontal"></bc-header-left>
    <bc-header-list>
      <bc-header-item icon="calculator" text="Herramientas" route="#" class="bc-reverse-d-lg-none"></bc-header-item>
      <bc-header-item icon="help" text="Ayuda" route="#"></bc-header-item>
      <bc-header-item icon="notification" text="Notificaciones" route="#"></bc-header-item>
      <bc-header-item text="Username 2" itemType="user" userAvatar="https://picsum.photos/100/100"></bc-header-item>
    </bc-header-list>
  </bc-header>
  
  
  
  